.title {
    margin-bottom: 16px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.title h3, .title p {
    color: white
}

.title h3 {
    margin-bottom: 0;
}

.title p {
    margin-bottom: 0;
}

@media only screen and (min-width: 576px) {
    .title {
        margin-bottom: 20px;
        display: block;
        justify-content: baseline;
    }
}